

    @font-face { font-family: "Maple"; src: url("./assets//Maplestory Bold.ttf"); font-weight: bold }
    @font-face { font-family: "Maple"; src: url("./assets//Maplestory Light.ttf"); font-weight: 600; }
    input[type=range]{
        border:none;
    }
    body{
        background:url('./assets/bgs.jpg');
        font-family: Maple;
    }

    .container{
        padding-top:8px;
    }
    .section{
        background:rgba(255,255,255,0.9);
        backdrop-filter: blur(5px);
        padding:4px;
        margin-bottom:16px;
        border-radius: 4px;
    }
    
    .wrapper{
        max-width:600px;
        margin:auto;

    }

    #result > .value{
        font-size:0.8em;
    }
    #result .song{
        background:#fff;
        border-radius: 4px;
        padding:4px;
        margin:4px;
        box-shadow: 0px 3px 3px rgb(0 0 0 / 25%);
        font-size: 0.7em;
    }

    #result .song .title{
        font-weight: bold;
    }

    #inputMenu{
        margin-bottom:1em;
    }
    #inputMenu span{
        border:3px solid #ddd;
        box-shadow:0 3px 3px rgba(0,0,0,0.5);
        padding:0.2em;
        margin:0.2em;
        background:#5b8c93;
        transition: 0.2s;
        display: inline-block;
        cursor:pointer;
    }
    #inputMenu span:hover{
        transform: translateY(2px);
        box-shadow:0 1px 1px rgba(0,0,0,0.7);

    }
    #inputMenu span.active{
        transform: translateY(4px);
        box-shadow:0 1px 1px rgba(0,0,0,1);
        

    }
    #input{
        text-align:center;
        position:relative;
        white-space: nowrap;
        overflow-x: auto;
    }
    #input .tile{
        font-size: min(6vw, 2em);
        display:inline-block;
        cursor:grab;
        width:1.5em;
    }
    #input .tile:active{
        cursor:grabbing;
    }
    #inputMenu{
        font-size:1.5em;
        text-align:center;
    }
    #hide{
        display:none;
    }

    #timeline{
        width:90%;
    }
    #timeline-wrapper .material-icons{
        vertical-align: middle;
    }

    .templates .btn{
        margin:4px;
    }

    #preloader{
        position:fixed;
        left:0;
        right:0;
        z-index: 99;
        background-color: rgba(0,0,0,0.25);
        width:100%;
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #preloader p{
        color:white;
        text-shadow: 0 3px 3px rgba(0,0,0,0.5);
        text-align: center;
        font-size: 1.5em;
    }

    #preloader img{
        width:80vw;
        max-width: 600px;
    }

    #gamepad{
        position: fixed;
        right:1em;
        bottom:1em;
        opacity:0.8;
        z-index:99;
    }
    #gamepad .row, #gamepad .row .col{
        margin:0;
        padding:0;
    }

    #gamepad .padbtn{
        background:#5b8c93;
        color:#fff;
        border:#ffcf8f 3px solid;
        outline:#000 3px solid;
        margin: 0.5em;
        padding: 0.25em;
        box-shadow:0 3px 3px rgba(0,0,0,.5);
        text-shadow:0 3px 3px rgba(0,0,0,.5);
        border-radius:4px;
        cursor:default;
    }

    #gamepad .padbtn i{
        transition:0.2s;
    }
    #gamepad .padbtn:hover i{
        transform:translateY(1px);
    }

    #settings .col{
        height:2.5em;
    }
    #settings .col input{
        height:2em;
        margin:0;
    }
    #settings .label{    
        display: flex;
        align-items: center;
        justify-content: right;
    }
    